.search-greeting__logo-container {
    margin-left: 45%;
    margin-top: 60px;
}

.search_greeting {
    margin-left: 36%;
    margin-top: 20px;
}

#search {
	display: grid;
    margin-top: 20px;
	grid-area: search;
	grid-template:
		"search" 60px
		/ 420px;
	justify-content: center;
	align-content: center;
	justify-items: stretch;
	align-items: stretch;
}

#search input {
	display: block;
	grid-area: search;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;
	font: 24px/1 system-ui, sans-serif;
}


#search svg {
	grid-area: search;
	overflow: visible;
	color: hsl(215, 100%, 50%);
	fill: none;
	stroke: currentColor;
}


.bar {
	width: 100%;
	height: 100%;
	ry: 50%;
	stroke-width: 1;
}

.magnifier {
	animation: magnifier-in 600ms 3.6s both;
	transform-box: fill-box;
}

.magnifier .glass {
	cx: 27;
	cy: 27;
	r: 8;
	stroke-width: 3;
}
.magnifier .handle {
	x1: 32;
	y1: 32;
	x2: 44;
	y2: 44;
	stroke-width: 3;
}



#results {
	grid-area: results;
	background: hsl(0, 0%, 95%);
}