.search__container {
    font-family: 'Poppin', sans-serif;
}

.search-greeting__logo-container {
    margin-left: 45%;
    margin-top: 60px;
}

.search_greeting {
    margin-left: 36%;
    margin-top: 20px;
    font-weight: 400;
}

#search {
	display: grid;
    margin-top: 0px;
	grid-area: search;
	grid-template:
		"search" 60px
		/ 420px;
	justify-content: center;
	align-content: center;
	justify-items: stretch;
	align-items: stretch;
}

#search input {
	display: block;
	grid-area: search;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;
	font: 24px/1 system-ui, sans-serif;
}


#search svg {
	grid-area: search;
	overflow: visible;
	color: hsl(215, 100%, 50%);
	fill: none;
	stroke: currentColor;
}


.bar {
	width: 100%;
	height: 100%;
	ry: 50%;
	stroke-width: 1;
}

.magnifier {
	animation: magnifier-in 600ms 3.6s both;
	transform-box: fill-box;
}

.magnifier .glass {
	cx: 27;
	cy: 27;
	r: 8;
	stroke-width: 3;
}
.magnifier .handle {
	x1: 32;
	y1: 32;
	x2: 44;
	y2: 44;
	stroke-width: 3;
}



#results {
	grid-area: results;
	background: hsl(0, 0%, 95%);
}

.hide {
	display: none;
}

/* .info__container {
	position: absolute;
	margin: 50px 0px 0px 200px;
}

.cards {
	float: left;
}

.card-info:hover {
	box-shadow: 0px 0px 5px 5px #0ef;
	transition: 0.4s;
}

.card-info {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 50px 50px 50px 50px;
}

.card1 {
	padding: 0px 50px 0px 0px;
}

.card2 {
	padding: 50px 50px 0px 0px;
}

.card3 {
	padding: 50px 50px 0px 0px;
}

.card4 {
	padding: 50px 50px 50px 0px;
} */

.card {
	position: relative;
	margin: 50px 0px 50px 200px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 100px 100px 100px 100px;
	width: 50%;
	height: 10%;
}

.card:hover {
	box-shadow: 0px 0px 5px 5px #0ef;
	transition: 0.4s;
}

.card .header {
	font-size: large;
	font-weight: 500;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.card .body {
	font-size: medium;
	font-weight: 400;
}

@media (max-width: 1100px) {
	.search_greeting {
		margin-right: -100px;
	}
}

@media (max-width: 950px) {
	.search_greeting {
		margin-right: -150px;
	}
}

@media (max-width: 426px) {
	.search_greeting {
		margin-left:40px;
		margin-right: 0px;
	}
	.search-greeting__logo-container {
		margin-left: 150px;
	}
	.card {
		margin-left: 1px;
	}
}